<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  </script>
<% end %>
<script>
  window.images = {
    splash: "<%= asset_path('nebula.jpg') %>"
  }
  window.icon = {
    logo: "<%= asset_path('icon.png') %>"
  }
  window.loader = {
    loader: "<%= asset_path('loader1.gif') %>"
  }
</script>


<main id="root"></main>
