
.link-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: black;
  height:100%;
  a {
    font-family: 'Raleway';
    font-size: 28px;
    color: white;
    text-decoration: none;
  }
}
