body {
  background: #f7f8fa;
}

.nav-holder {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  z-index: 1000;

  .header-left-box {
    margin-left: 45px;

    .header-left-link {
      display: flex;
      align-items: center;
    }

    a {
      margin-right: 30px;
      font-family: 'Raleway';
      text-decoration: none;
      font-weight: 200;
      font-size: 18px;
    }


  }

  .header-right-link-box {
    display: flex;
    flex-direction: row;

    .header-right-signup-link {
      a {
        margin-right: 45px;
        font-family: 'Raleway';
        font-weight: normal;
        font-size: 18px;
        text-decoration: none;
        color: white;
        border: 1px solid black;
        border-radius: 3px;
      }

    }

    .header-right-login-link {
      margin-right: 45px;

      a {
        font-family: 'Raleway';
        font-weight: normal;
        font-size: 18px;
        text-decoration: none;
      }

    }
  }
}

.black {
  color: white;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;


  .header-left-box a {
    color: white;
    font-weight: bold;
  }

  .header-right-login-link a {
    color: white
  }

  .header-right-signup-link a {
    font-weight: bold;
    background-color: #5E2261;
    border: none;
    border-radius: 35px;
    padding: 8px 16px;
  }

  .title:hover {
    color: #b266b2;
  }

  .header-right-signup-link a:hover{
    background-color: #b266b2;
  }

  .header-right-login-link a:hover {
    color: #b266b2;
  }
}

.white {
  border-bottom: 1px solid #f7f8fa;
  color: black;
  background-color: white;

  .header-right-signup-link a {
    background-color: #001e2d;
    padding: 17px 18px ;
  }

  .header-right-login-link a {
    color: #525558;
  }
  .header-left-box a {
      color: black;
  }

  .title:hover {
    color: #b266b2;
  }

  .header-right-login-link a:hover {
    color: #b266b2;
  }

  .header-right-signup-link a:hover{
    background-color: #b266b2;
  }
}
