.ul-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;

    .li-pictures {
      font-family: "Raleway";
      font-weight: 100;
      background: white;
      border: 1px solid #eeeff2;
      border-radius: 5px;
      width: 100%;
      margin: 10px auto;
      max-height: 100vh;

      .image-container {
        max-width: 100%;
        max-height: 100vh;
        display: flex;
        justify-content: center;
        .li-image{
          border-radius: 3px;
          max-height: 50vh;
          max-width: 100%;
          object-fit: scale-down;
        }
      }


      .image-top-container {
        display: flex;
        align-items: center;
        margin: 10px 15px;
        padding: 10px;
        font-size: 20px;
        font-weight: 500;


        .img-box {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: black;
          height: 50px;
          width: auto;
          border: 1px solid black;
          border-radius: 3px;
        }
        img {
          height: auto;
          width: 40px;
          border: 1px solid black;
          border-radius: 3px;
          background: black;
        }

        .username-box {
          padding-left: 20px;
        }
      }

      .image-bottom-container {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;

        .image-bot-title {
          font-size: 28px;
          padding: 10px 0;
        }

        .image-bot-description {
          font-size: 18px;
          margin: 10px auto;
        }

        .delete-container {
          display: flex;
          justify-content: flex-end;

        .trashy {
          border: none;
          outline: none;
          background: black;
          color: white;
          border-radius: 3px;
          left: -10px;
          position: relative;
          bottom: 26px;

          .material-icons {
            font-size: 30px;
          }
        }

        .trashy:hover {
          cursor: pointer;
        }
      }
    }
  }
}

#modal-btn {
  position: relative;
  top: -34px;
}
