.profile-header-with-cover {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.user-details {
  height: 100px;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway';
  color: white; 
  margin-top: 40px;
  margin-bottom: 10px;
  height: 100px;
}

.personal-name {
  font-size: 30px;
  margin-top: 15px;
}

.personal-name, .personal-desc {
  padding: 10px;
}

.profile-pic {
  margin-top: 30px;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  box-shadow: 1px 0px 10px 1px white;

}

.profile-nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway';
  height: 50px;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  box-shadow: 1px 0px 10px 2px white;

}

.profile-body {
  padding: 20px 0;
  position: relative;
  min-height: 300px;
  padding: 20px 0;
  color: white;
}

.full-grid-container {
  padding: 0 40px;

  .grid-container {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-container::after {
    flex-grow: 99999999;
  }
  .img-box {

    margin: 3px;
    position: relative;
    flex-grow: 1;
    height: 305px;
    overflow: hidden;
    border-radius: 3px;

    .user-image {
      min-width: 100%;
      max-width: 100%;
      height: 305px;
      object-fit: cover;
      vertical-align: baseline;
    }

    .user-image:hover {
      cursor: pointer;
      border-top: 3px solid white;
    }

  }
}

.no-image {
  display: flex;
  align-items: center;
  justify-content: center;

  .no-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';

    .no-placeholder {
      filter: invert(1);
      height: 125px;
      border-radius: 3px;
    }

    img {
      padding-bottom: 5px;
    }
    .p-title {
      font-size: 24px;
      padding-bottom: 15px;
    }
    p {
      padding: 5px;
    }
  }
}

#modal-btn {
  outline: none;
  width: 180px;
  height: 40px;
  font-size: 16px;
  line-height: 38px;
  color:black;
  margin-top: 50px;
}


