.profile-header-with-cover {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.profile-body {
  background: #f7f8fa;
  padding: 20px 0;
  position: relative;
  min-height: 300px;

  padding: 20px 0;
}

.full-grid-container {
  padding: 0 40px;

  .grid-container {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-container::after {
    flex-grow: 99999999;
  }
  .img-box {

    margin: 3px;
    position: relative;
    flex-grow: 1;
    height: 305px;
    overflow: hidden;
    border-radius: 3px;

    .user-image {
      min-width: 100%;
      max-width: 100%;
      height: 305px;
      object-fit: cover;
      vertical-align: baseline;
    }
  }
}
